@media print {
  .container small, form{
    display: none;
  }

  #parsedValueArea p, #btnImprimir{
    display: none;
  }
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.jumbotron{
  background-color: #e9ecef;
  border-radius: 15px;
}